.noData {
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(0.25turn, transparent, #3a3a3a, transparent),
    linear-gradient(#3a3a3a, #686868) no-repeat 0 0;
    animation: loading 3s infinite linear;
    background-size: 3150px 2500px, 3150px 1800px, 1000px 1000px, 2250px 300px;
}

@keyframes loading {
    to {
        background-position: 3150px 0, 0 0, 0 1900px, 500px 1950px;
    }
}


.chartWrapper {
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}